<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Hello!{% endblock %} | Jadon Framework</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="app-container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>