{% extends '@App/base.html.twig' %}
{% block content %}
    <h1>Everything is up and ready to work!</h1>
    <p><a href="{{ path('hello_with_parameter', {name: 'Mike'}) }}">Here</a> you can check another one.</p>
{% endblock %}