{% extends 'base.html.twig' %}
{% block content %}
   <div class="card">
       <h1 class="lenny">(づ｡◕‿‿◕｡)づ</h1>
       <p class="info-text">Everything is set up and ready for work.</p>
   </div>
{% endblock %}